{% extends "bases/base.html" %} <!-- Estende o template base para reutilizar a estrutura principal da página -->
{% load static %} <!-- Carrega arquivos estáticos do Django -->

{% block 'head' %}
    <!-- Importa um arquivo CSS específico para estilização da página de cadastro -->
    <link href="{% static 'usuarios/css/css.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'conteudo' %}
    <br>
    <br>
    <div class="container"> <!-- Define um container para centralizar o conteúdo -->
        <h3 class="font-destaque">Cadastre-se</h3>

        <div class="row"> <!-- Linha para estruturação do layout -->
            <div class="col-md-3" style="text-align: center"> <!-- Coluna com a logo e nome do site -->
                <img src="{% static 'geral/img/logo.png' %}" alt="Logo da empresa">
                <h3>Vital</h3>
            </div>

            <div class="col-md-9"> <!-- Coluna com o formulário de cadastro -->
                <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %} <!-- Proteção contra CSRF -->
                    <label>Primeiro nome</label>
                    <br>
                    <input type="text" class="input-default" name="primeiro_nome" required autofocus>
                    <br>
                    <br>
                    <label>Último nome</label>
                    <br>
                    <input type="text" class="input-default" name="ultimo_nome" required>
            </div>
        </div>

        <div class="row"> <!-- Outra linha para mais campos do formulário -->
            <div class="col-md-4">
                <label>Username</label>
                <br>
                <input type="text" class="input-default w100" name="username" required>
                <br>
                <br>
                <label>Senha</label>
                <br>
                <input type="password" class="input-default w100" name="senha" required>
            </div>

            <div class="col-md-4">
                <label>E-mail</label>
                <br>
                <input type="email" class="input-default w100" name="email" required>
                <br>
                <br>
                <label>Confirmar senha</label>
                <br>
                <input type="password" class="input-default w100" name="confirmar_senha" required>
            </div>
            
            <!-- Exibe mensagens de erro ou sucesso -->
            {% if messages %}
                <br>
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <!-- Botão de envio do formulário -->
        <input type="submit" class="btn-default">
    </form>
    </div>
{% endblock %}
